aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
click
cloudpathlib
cryptography
dataclasses-json
distro
duckduckgo_search
emoji
et_xmlfile
faiss-cpu
filelock
filetype
frozenlist
fsspec
google-auth
google-auth-oauthlib
google-genai
groq
gspread
h11
hf-xet
html5lib
httpcore
httpx
httpx-sse
idna
installer
Jinja2
joblib
jsonpatch
jsonpointer
langchain-classic
langchain-community
langchain-core
langchain-text-splitters
langdetect
langsmith
llvmlite
lxml
magic-filter
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy_extensions
networkx
numba
numpy
oauthlib
olefile
openpyxl
orjson
packaging
pandas
pdfminer.six
primp
propcache
psutil
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pypdf
pypdfium2
python-dateutil
python-dotenv
python-iso639
python-magic
python-oxmsg
PyYAML
rank-bm25
RapidFuzz
regex
requests
requests-oauthlib
requests-toolbelt
reportlab
rich
ruff
safetensors
scipy
setuptools
shellingham
six
smart_open
sniffio
soupsieve
SQLAlchemy
sympy
tenacity
threadpoolctl
tokenizers
tqdm
typer
typing-inspect
typing-inspection
typing_extensions
unstructured
unstructured-client
urllib3
uuid_utils
webencodings
websockets
wrapt
xxhash
yarl
zstandard
langchain-google-genai
